/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 24px;
}

body {
    display: flex;
    flex-direction: column;
}

.index-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1em;
    border: 3px solid chocolate;

}

.main-content {
    display: flex;
    flex-direction: row;
    height: 80%;
    justify-content: space-around;
}

.listing, .detail {
    height: 100%;
    background-color: gray;
}

.listing {
    width: 40%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 3px solid chocolate;
}

.listing li {
    list-style-type: none;
}

.listing ul {
    padding-left: 1em;
}

.detail {
    width:60%;
    border: 3px solid chocolate;
    padding: 1em;
}